/*Déclaration des constantes*/
/*Style de la page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  min-width: 100vw;
  min-height: 100vh;
  /*display: flex;*/
  font-size: 1em;
}
header {
  height: 20vh;
  width: 100vw;
  background-color: #424242;
}
nav ul {
  display: flex;
}
nav ul li {
  color: white;
  text-decoration: none;
  list-style: none;
  margin-right: 3em;
}
nav ul li:hover {
  color: red;
  cursor: pointer;
}
