/*Déclaration des constantes*/
/*Style de la page*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #ffffff;
  min-width: 100vw;
  min-height: 100vh;
  /*display: flex;*/
  font-size: 1em;
}
header {
  height: 15vh;
  width: 100vw;
  background-color: #424242;
}
header h1 {
  color: white;
  font-size: 3em;
  padding-left: 1.5em;
  padding-top: 0.5em;
}
nav {
  height: 5vh;
  background-color: #424242;
}
nav ul {
  display: flex;
  align-content: center;
  padding-left: 3em;
}
nav ul li {
  padding-top: 1em;
  color: white;
  text-decoration: none;
  list-style: none;
  margin-right: 3em;
}
nav ul li:hover {
  color: red;
  cursor: pointer;
  background-color: blue;
}
