/*Déclaration des constantes*/

@couleurFond: #ffffff;
@couleurHeader: #424242;
@couleurVert: #558B2F;

@box-shadow:0px 6px 41px -5px rgba(0,0,0,0.58);


//Animation
@keyframes animScale{
	from{
		font-size:1.5em;
	}
	to{
		font-size:2em;
	}
}


/*Style de la page*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: @couleurFond;
	min-width: 100vw;
	min-height: 100vh;
	/*display: flex;*/
	font-size: 1em;
	font-family: "Roboto";
}

//style du header
header{
	display: flex;
	justify-content:space-between;
	height: 15vh;
	width: 100vw;
	background-color: @couleurHeader;
	padding-top: 3.5em;

	h1{
		color: white;
		font-size: 3em;
		padding-left: 1.5em;
	}

	.utilisateur {
		display: flex;
		color: white;
		margin-right: 5em;
		align-items:center;
		margin-bottom: 3em;
		
		h3{
			padding-right: 1em;
		}


		i{
			font-size: 3em;
			&:hover{
				cursor: pointer;
			}
			&:hover + .sousMenu{
				display:block;
				//background-color: red;
			}
		}

		.sousMenu{
			//display: none;
			position: relative;
			top:0;
			height: 8vh;
			width: 12vw;
			background-color: lighten(@couleurHeader, 30%);

			ul{
				display:flex;
				flex-direction:column;
				align-items:center;
				li{
					padding-bottom: 0.3em;
					
					&:first-child{
						padding-top: 0.5em;
					}

					&:hover{
						cursor: pointer;
						background-color: lighten(@couleurHeader, 40%);
					}
				}
			}
		}
	}
} //fin header

//style pour la navigation
nav{	
	height: 5vh;
	background-color: lighten(@couleurHeader, 10%);
	box-shadow: @box-shadow;

	ul{
		display: flex;
		align-content:center;
		padding-left: 5em;
		height: 100%;
		
		li{
			padding-top: 1em;
			color: white;
			text-decoration: none;
			list-style: none;
			margin-right: 3em;

			&:hover{
				
				cursor: pointer;
				background-color: @couleurVert;
			}
		}
	}
} // fin nav

.main{
	display: flex;
	justify-content:center;

	h2{
		font-size: 2em;
		padding-top: 1em;
		color: lighten(black, 20%);
		text-transform: uppercase;
	}

	.item{
		display: flex;
		justify-content:space-around;
		align-items:center;
		height: 4vh;
		width: 40vw;
		background-color: darken(@couleurFond, 10%);
		border-radius: 25px;
		box-shadow: @box-shadow;
		margin-top: 5em;



		&:hover{
			background-color: lighten(@couleurHeader, 55%);
		}
		
		h3{
			font-weight: 700;
			color: lighten(black, 30%)
		}

		h4{
			font-style: italic;
			color: lighten(black, 40%)
		}

		i{
			color: lighten(black, 40%);
			font-size: 1.5em;
			transition:font-size 0.5s;
			position: relative;
			&:hover{
				font-size: 1.7em;
				cursor: pointer;
			}
		}
	}

}//fin main

footer{
	height: 5vh;
	width: 100vw;
	background-color: darken(@couleurHeader, 10%);
	position: fixed;
	bottom: 0;

	h6{
		display: flex;
		flex-direction: row-reverse;
		padding-right: 3em;
		padding-top: 1em;
		color: white;
	}
}//fin footer
