/*Déclaration des constantes*/

@couleurFond: #000000;
@couleurHeader: #424242;


/*Style de la page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
	background-color: @couleurFond;
	min-width: 100vw;
	min-height: 100vh;
	/*display: flex;*/
	font-size: 1em;
}

//style du header
header{
	height: 20vh;
	width: 100vw;
	background-color: @couleurHeader;
}

//style pour la navigation
nav{	

	ul{
		display: flex;
		
		li{
			color: white;
			text-decoration: none;
			list-style: none;
			margin-right: 3em;

			&:hover{
				color: red;
				cursor: pointer;
			}
		}
	}
}
